body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo {
    position: relative;
    float: left;
    margin-left: 30px;
    padding-top: 10px;
    color: #707070;
    text-align: center;
    transform: translate(0%, 0%);
    transition: 0.5s;
    margin-right: 500px;
    transition: 0.75s;
}

.logo a {
    list-style: none;
    color: #707070;
}
.logo a {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #B5DFCE;
    float: left;
    margin-right: 60px;
}
.logo a {
    color: #B5DFCE;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
.logo a:hover:nth-child(1) {
    border: 5px solid #B5DFCE;
    box-shadow: 0 0 15px #B5DFCE;
    transition: all 0.5s ease;
}
.logo a:hover {
    color: #B5DFCE;
    text-shadow: 0 0 15px #B5DFCE;;
    transition: all 0.5s ease;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #707070;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header #toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #707070;
}
header #toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #707070;
}
.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(images/dawit-ou82bxM2b2k-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active {
    transform: translateX(-400px);
}
#navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background: #FCC863;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active {
    right: 0;
}
#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li {
    list-style: none;
}
#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
}
.content {
    position: relative;
    max-width: 600px;
}
.content h2 {
    color: #707070;
    font-size: 2.5em;
}
.content h2 span {
    color: #C35537;
    font-size: 1.2em;
}
.content p {
    font-size: 1.2em;
    color: #707070;
    font-weight: 300;
}
.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #B5DFCE;;
    color: #707070;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
}
.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 250px;
}
.sci li {
    list-style: none;
}
.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #707070;
    margin: 10px 0 0;
}
.sci li a:hover {
    background: white;
}
.sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}
@media (max-width: 767px) {
    header {
        padding: 20px 50px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content p,
    .banner .content a {
        font-size: 1em;
    }
    .banner.active {
        transform: translateX(-250px);
    }
    #navigation {
        width: 250px;
    }
    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}
